@font-face {
    font-family: '04b_30';
    src: url('fonts/04b_30/04B_30.ttf') format('truetype');
}

@font-face {
    font-family: 'RoadPixel';
    src: url('fonts/roadpixel/RoadPixel.ttf') format('truetype');
}

@font-face {
    font-family: 'paskowy';
    src: url('fonts/paskowy/Paskowy.ttf') format('truetype');
}

@font-face {
    font-family: 'redslit';
    src: url('fonts/redslit/Redslit.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 2rem 4rem;

}

header h1#main_name span {
    display: block;
    text-align: left;
    font-weight: normal;
}

header h1#main_name span:first-child {
    color: #d2d2d2;
    font-family: '04b_30';
    font-size: .8rem;
    text-shadow: 0 1px 0 hsl(0deg 0% 26%), 0 2px 0 hsl(0deg 0% 46%), 0 3px 0 hsl(208deg 100% 80%);
    transform: translate(31px, 3px);
}

header h1#main_name span:last-child {
    color: #a93232;
    font-family: 'redslit';
    font-size: 4rem;
    text-shadow: 0 2px #000000, -1px 2px #000000, -2px 2px #7e7e7e, -2px 3px #6f6f6f;
}


#hamburger {
    display: block;
    position: absolute;
    right: 5vw;
    top: 5vh;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    transition: background 200ms;
}

#hamburger:focus {
    outline: none;
}


input {
    display: block;
    position: absolute;
    right: 5vw;
    top: 5vh;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 2;
}

#hamburger span {
    display: block;
    position: absolute;
    top: calc((3rem / 2) - (0.3rem / 2));
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.3rem;
    background: #d2d2d2;
    transition: background 0s 200ms;
    border-radius: 2px;
}

#hamburger span::before,
#hamburger span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: #d2d2d2;
    content: '';
    transition-duration: 200ms, 200ms;
    transition-delay: 250ms, 0s;
    border-radius: 2px;
}

#hamburger span:hover,
#hamburger span::before:hover,
#hamburger span::after:hover {
    background-color: white;
}

#hamburger span::before {
    top: calc(0.3rem - .85rem);
    transition-property: top, transform;
}

#hamburger span::after {
    bottom: calc(0.3rem - .85rem);
    transition-property: bottom, transform;
}

input:checked+#hamburger span {
    background: none;
    width: 2.5rem;
}

input:checked+#hamburger span::before {
    top: 0;
    transform: rotate(40deg);
}

input:checked+#hamburger span::after {
    bottom: 0;
    transform: rotate(-40deg);
}

input:checked+#hamburger span::before,
input:checked+#hamburger span::after {
    transition-delay: 0s, 250ms;
    width: 2.5rem;
}


input:checked~nav {
    transform: scale(1);
    opacity: 1;
}
 
nav {
    position: absolute;
    background: #ffffff14;
    padding: 2rem 1rem;
    height: 80vh;
    width: 80vh;
    right: -40vh;
    top: -40vh;
    border-radius: 100%;
    transform-origin: center;
    transform: scale(0);
    transition: all 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

nav ul {
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
}

nav li {
    position: absolute;
    display: block;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    text-shadow: 0 1px 0 hsl(0deg 0% 26%), 0 2px 0 hsl(0deg 0% 46%), 0 3px 0 hsl(208deg 100% 80%);
}

nav li a {
    color: #d2d2d2;
    font-family: '04b_30';
    font-size: 2rem;
    text-decoration: none;
}

nav li a:visited {
    color: #d2d2d2;
    text-decoration: none;
}

nav li a:hover {
    color: #ffffff;
}

input:checked~nav li {
    opacity: 1;
}

nav li:nth-child(1) {
    bottom: 20rem;
    left: 3rem;
}

nav li:nth-child(2) {
    bottom: 15rem;
    left: 5rem;
}

nav li:nth-child(3) {
    bottom: 10rem;
    left: 12rem;
}

input:checked~nav li:nth-child(1) {
    transition-delay: 300ms;
}

input:checked~nav li:nth-child(2) {
    transition-delay: 400ms;
}

input:checked~nav li:nth-child(3) {
    transition-delay: 500ms;
}

main {
    position: relative;
    background-color: black;
    background-color: #245f7b;
    z-index: 1;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


section#home #world #map svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

section#home #world #map svg g {
    /* transform: matrix(1.1, 0, 0, 1.1, -259, -259); */
    transform: matrix(4, 0, 0, 4, 200, -600);
}

section#home #world {
    display: block;
    position: fixed;
    width: 400vh;
    height: 400vh;
    border-radius: 100%;
    /* background-color: #476338; */
    background-color: #19435f;
    box-shadow: 0 0 2rem 0rem #59bdffab;
    margin: 0 auto;
    z-index: 1;
    will-change: transform;
    transform: translateY(237vh);
    transition: background-color 500ms;
}


section#home #bike_wrapper {
    position: absolute;
    width: 88vh;
    height: 400vh;
    right: 0;
    left: 0;
    border: 1px solid rgb(128, 0, 0);
    margin: auto;
    z-index: 2;
}

section#home #bike {
    position: absolute;
    width: 37.55rem;
    height: 18rem;
    right: 0;
    left: 0;
    border: 1px solid green;
    margin: auto;
    z-index: 2;
    transform: translateY(-27vh);
    transform-origin: top;
}

section#home #bike .wheel {
    position: absolute;
    height: 5.3rem;
    width: 5.3rem;
    bottom: 2rem;
    background-color: transparent;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0 0.25rem #6b6b6b, 0 0 0 0.9rem #2c2c2c;
}

section#home #bike .wheel .axis {
    position: absolute;
    display: block;
    background-color: #5c5c5c;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 0.2rem #9b9b9b;
    z-index: 1;
}

section#home #bike .wheel.front {
    left: 24rem;
}

section#home #bike .wheel.back {
    left: 8rem;
}

section#home #bike .wheel .rin_line {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 2.6rem solid #6b6b6b;
    margin: auto;
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top;
    z-index: 0;
}

section#home #bike .wheel .rin_line:nth-last-child(4) {
    transform: rotate(90deg);
}

section#home #bike .wheel .rin_line:nth-last-child(3) {
    transform: rotate(-90deg);
}

section#home #bike .wheel .rin_line:nth-last-child(2) {
    transform: rotate(180deg);
}

section#home #bike .body {
    position: absolute;
    width: 16rem;
    height: 10rem;
    top: 5.5rem;
    right: 12.1rem;
    z-index: 1;
    transform: rotate(3.7deg);
}

section#home #bike .seat {
    position: absolute;
    top: 7.85rem;
    left: 11.1rem;
    width: 4.6rem;
    height: 0.7rem;
    transform: rotate(1deg);
    background: rgb(79 42 15);
    border-radius: 83% 17% 100% 0% / 0% 100% 0% 100%;
    z-index: 1;
}

section#home #bike .seat .coil {
    position: absolute;
    top: -0.12rem;
    left: -1.1rem;
    width: 1.5rem;
    height: 0.7rem;
    transform: rotate(21deg);
    background: rgb(79 42 15);
    border-radius: 64% 36% 28% 72% / 100% 0% 100% 0%;
}

section#home #bike .body .bar {
    position: absolute;
    top: 3rem;
    left: 12.7rem;
    width: 0.55rem;
    height: 5rem;
    transform: rotate(11deg);
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

section#home #bike .body .bar:nth-last-child(1) {
    height: 6rem;
    transform: rotate(89deg);
    top: 4.75rem;
    left: 9.5rem;
}

section#home #bike .body .bar:nth-last-child(2) {
    height: 5.4rem;
    transform: rotate(150deg);
    top: 3rem;
    left: 5.5rem;
}

section#home #bike .body .bar:nth-last-child(4) {
    height: 4.5rem;
    transform: rotate(-165deg);
    top: 3.1rem;
    left: 7.4rem;
}

section#home #bike .body .bar:nth-last-child(3) {
    height: 9.5rem;
    transform: rotate(88deg);
    top: -1.4rem;
    left: 8.6rem;
}

section#home #bike .body .bar:nth-last-child(5) {
    height: 9.5rem;
    transform: rotate(88deg);
    top: -1.28rem;
    left: 5.6rem;
}

section#home #bike .body .bar:nth-last-child(6) {
    height: 1.5rem;
    transform: rotate(108deg);
    top: 2.7rem;
    left: 0.6rem;
}

section#home #bike .body .bar:nth-last-child(7) {
    height: 1rem;
    transform: rotate(0);
    top: 7rem;
    left: 6.8rem;
}

section#home #bike .body .bar:nth-last-child(8) {
    height: 5rem;
    transform: rotate(264.4deg);
    top: 2.8rem;
    left: 6.8rem;
    transform-origin: bottom;
}

section#home #bike .front_bar {
    position: absolute;
    width: 0.5rem;
    height: 9rem;
    background: rgb(225, 225, 225);
    transform: rotate(-25deg);
    top: 5rem;
    right: 12.5rem;
    z-index: 2;
}

section#home #bike .front_bar .inner {
    position: absolute;
    width: 0.8rem;
    height: 4.3rem;
    background: rgb(33 33 33);
    bottom: -0.1rem;
    right: -0.2rem;
    z-index: 2;
}

section#home #bike .front_bar .mid,
section#home #bike .front_bar .top {
    position: absolute;
    width: 0.8rem;
    height: 1rem;
    background: rgb(44, 44, 44);
    z-index: 2;
    right: -0.2rem;
}

section#home #bike .front_bar .top {
    top: -0.2rem;
}

section#home #bike .front_bar .mid {
    top: 2.5rem;
}

section#home #bike .shock {
    position: absolute;
    width: 0.6rem;
    height: 5rem;
    background: rgb(67 67 67);
    transform: rotate(29deg);
    top: 8.5rem;
    left: 11.5rem;
    z-index: 1;
    border-radius: 1rem;
}

section#home #bike .shock .bar {
    position: absolute;
    width: 0.3rem;
    height: 1rem;
    background: rgb(63 63 63);
    transform: rotate(90deg);
    left: 0.16rem;
    z-index: 1;
    border-radius: 1rem;
}


section#home #bike .shock .bar:nth-last-child(1) {
    top: 0rem;
}

section#home #bike .shock .bar:nth-last-child(2) {
    top: .5rem;
}

section#home #bike .shock .bar:nth-last-child(3) {
    top: 1rem;
}

section#home #bike .shock .bar:nth-last-child(4) {
    top: 1.5rem;
}

section#home #bike .shock .bar:nth-last-child(5) {
    top: 2rem;
}

section#home #bike .shock .bar:nth-last-child(6) {
    top: 2.5rem;
}

section#home #bike .shock .bar:nth-last-child(7) {
    top: 3rem;
}

section#home #bike .shock .bar:nth-last-child(8) {
    top: 3.5rem;
}

section#home #bike .tank {
    position: absolute;
    width: 6.5rem;
    height: 2rem;
    background: rgb(129 38 38);
    top: 6.5rem;
    right: 14.8rem;
    z-index: 2;
    border-radius: 89% 11% 3% 97% / 99% 26% 74% 1%;
    box-shadow: 0 0 0 0.25rem #691818;
    transform: rotate(1deg);
}

section#home #bike .lamp {
    position: absolute;
    width: 1.5rem;
    height: 1.5em;
    background: rgb(72, 72, 72);
    top: 6.1rem;
    right: 12rem;
    z-index: 1;
    border-radius: 90% 10% 12% 88% / 52% 51% 49% 48%;
    box-shadow: 0 0 0 0.25rem #333333;
}

section#home #bike .lamp .glass {
    position: absolute;
    width: 0.35rem;
    height: 2rem;
    background: rgb(179, 179, 179);
    top: -0.25rem;
    right: -0.25rem;
    z-index: 1;
    border-radius: 0 6px 6px 0;
}

section#home #bike .motor {
    position: absolute;
    display: block;
    top: 7rem;
    left: 14.8rem;
    width: 8rem;
    height: 8rem;
}

section#home #bike .motor .toper {
    position: absolute;
    width: 0.5rem;
    height: 2.25rem;
    background: rgb(179, 179, 179);
    top: 1.5rem;
    right: 1.7rem;
    z-index: 3;
    border-radius: 0 6px 6px 0;
    transform: rotate(-82deg);
}

section#home #bike .motor .mider {
    position: absolute;
    width: 2.5rem;
    height: 2.3rem;
    background: rgb(68 68 68);
    top: 2.95rem;
    right: 0.95rem;
    z-index: 2;
    clip-path: polygon(0 0, 100% 1%, 95% 100%, 5% 100%);
    transform: rotate(8deg);
}

section#home #bike .motor .road {
    position: absolute;
    width: 2.9rem;
    height: 2.9rem;
    background: rgb(43 43 43);
    top: 3.5rem;
    right: 2.98rem;
    z-index: 2;
    clip-path: polygon(57% 0, 84% 18%, 100% 45%, 98% 88%, 45% 100%, 1% 80%, 5% 43%);
    transform: rotate(8deg);
}

section#home #bike .motor .roar {
    position: absolute;
    width: 1.7rem;
    height: 1.9rem;
    background: rgb(33 33 33);
    top: 3.5rem;
    right: 3.3rem;
    z-index: 2;
    clip-path: circle(50% at 50% 50%);
}

section#home #bike .motor .carb {
    position: absolute;
    width: 1.8rem;
    height: 1.6rem;
    background: rgb(118 118 118);
    top: 2.3rem;
    right: 3.3rem;
    z-index: 1;
    clip-path: polygon(0 26%, 16% 19%, 20% 0, 82% 0, 88% 21%, 100% 24%, 100% 78%, 87% 80%, 86% 100%, 20% 100%, 18% 80%, 0 73%);
}

section#home #bike .motor .filter {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(129 38 38);
    top: 2.3rem;
    right: 5.95rem;
    z-index: 1;
    clip-path: polygon(0 20%, 100% 8%, 100% 97%, 0 74%);
    transform: rotate(1deg);
}

section#home #bike .motor .base {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: rgb(53 53 53);
    top: 2.6rem;
    right: 5rem;
    z-index: 1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 6%, 100% 94%, 80% 100%, 20% 100%, 0 93%, 0 7%);
    transform: rotate(3deg);
}

section#home #bike .gap {
    position: absolute;
    width: 2rem;
    height: 1rem;
    background: rgb(53 53 53);
    top: 12.9rem;
    right: 25.3rem;
    z-index: 1;
    clip-path: polygon(81% 0, 100% 0, 100% 100%, 79% 100%, 80% 84%, 0 50%, 79% 16%);
    transform: rotate(-3deg);
}

section#home #bike .screw {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: #525252;
    border-radius: 100%;
    box-shadow: 0px 0px 0 0.5rem #2a2a2a;
    transform: scale(.5);
    z-index: 1;
}

section#home #bike .screw.back {
    top: 13.2rem;
    left: 10.2rem;
}

section#home #bike .screw.mid {
    top: 12.9rem;
    left: 15.8rem;
}

section#home #bike .comm {
    position: absolute;
    height: 1.3rem;
    width: 0.5rem;
    top: 4.5rem;
    left: 22.2rem;
    background-color: #212121;
    border-radius: 1rem;
    transform: rotate(316deg);
    z-index: 1;
}

section#home #bike .comm::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    left: -0.3rem;
    height: 1.2rem;
    width: 0.5rem;
    background-color: #282828;
    border-radius: 1rem;
    transform: rotate(306deg);
    z-index: 1;
}

section#home #bike .comm::before {
    content: '';
    position: absolute;
    top: -1.2rem;
    left: -1.6rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: #282828;
    border-radius: 1rem;
    z-index: 3;
}

section#home #bike .comm .grip {
    position: absolute;
    top: -1.3rem;
    left: -1.2rem;
    height: 1.2rem;
    width: 0.4rem;
    background-color: rgb(79 42 15);
    border-radius: 1rem 1rem 0rem 0rem;
    transform: rotate(306deg);
    z-index: 2;
    box-shadow: 0 0 0 0.15rem #282828;
}


/* MOON */


footer {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

footer #moon {
    display: block;
    position: absolute;
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    background-color: #5b5b5b;
    box-shadow: 0 0 1rem -0.2rem #c3c3c3;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: calc(-30vh* 6.5);
    transform: scale(8);
}

footer #moon:after {
    content: "";
    background-color: rgb(105 105 105);
    display: block;
    position: absolute;
    left: 53%;
    top: 2%;
    width: 12%;
    height: .45rem;
    border-radius: 50%;
    transform: rotate(11deg);
    box-shadow: 0px -1px 0px 1px rgb(59 59 59);
}

footer #moon:before {
    content: "";
    background-color: rgb(119 119 119);
    display: block;
    position: absolute;
    left: 33%;
    top: 5%;
    width: 5%;
    height: .4rem;
    border-radius: 50%;
    transform: rotate(-14deg);
    box-shadow: 0px -1px 0px 1px rgb(67 67 67);

}

footer #moon .rocks {
    position: absolute;
    display: block;
}

footer #moon .rocks:nth-child(1) {
    width: 1.65rem;
    height: .25rem;
    width: 1.8rem;
    height: .25rem;
    background: rgb(91 91 91);
    background: linear-gradient(0deg, rgb(91 91 91) 60%, rgb(97 97 97) 100%);
    left: 11.2rem;
    top: 0.1rem;
    transform: rotate(-7deg);
    border-radius: 50%;
}

footer #moon .rocks:nth-child(2) {
    width: 2.5rem;
    height: 0.45rem;
    background: rgb(91 91 91);
    left: 13rem;
    top: -0.05rem;
    transform: rotate(-1deg);
    border-radius: 40%;
}

footer #moon .rocks:nth-child(3) {
    width: 3.5rem;
    height: 0.45rem;
    background: rgb(91 91 91);
    background: linear-gradient(0deg, rgb(91 91 91) 65%, rgb(109 109 109) 100%);
    left: 16.55rem;
    top: .55rem;
    transform: rotate(16deg);
    border-radius: 40%;
}

footer #moon .rocks:nth-child(4) {
    width: 4rem;
    height: 0.4rem;
    background: rgb(91 91 91);
    left: 7rem;
    top: 1.0rem;
    transform: rotate(-22deg);
    border-radius: 50%;
}

footer #moon .rocks:nth-child(5) {
    width: 2rem;
    height: 0.4rem;
    background: rgb(91 91 91);
    left: 20rem;
    top: 1.6rem;
    transform: rotate(25deg) skewX(10deg);
    border-radius: 50%;
}

footer #astroman {
    position: absolute;
    display: block;
    width: 20rem;
    height: 20rem;
    left: 15vw;
    bottom: 6vh;
    border: 1px solid red;
    z-index: 9;
    transform: scale(.8) rotate(-2deg);
}

footer #astroman .back_box {
    position: absolute;
    display: block;
    width: 3.7rem;
    height: 1.5rem;
    left: 23.54%;
    top: 33.5%;
    background: #6c6f46;
    z-index: 3;
    border-radius: 8px 6px;
    clip-path: polygon(7% 0, 100% 0, 96% 100%, 16% 100%);
    transform: skewX(352deg) rotate(2deg);
    box-shadow: inset -7px -5px 0 0px #0000001a;
}


footer #astroman .back {
    position: absolute;
    display: block;
    width: 6.1rem;
    height: 7.7rem;
    left: 19%;
    top: 36%;
    background: rgb(124 127 82);
    clip-path: polygon(23% 0, 65% 0, 100% 7%, 94% 100%, 7% 94%, 0 8%);
    border-radius: 16% 16% 26% 32%;
    transform: rotate(1deg);
    z-index: 4;
    box-shadow: inset -9px -13px 0 7px #0000000d;
}



footer #astroman .head {
    position: absolute;
    display: block;
    width: 4rem;
    height: 2rem;
    background: #afafaf;
    left: 24%;
    top: 24%;
    border-radius: 0.8rem 1.1rem;
    transform: rotate(0deg) skewX(12deg) scale(1.1);
    box-shadow: inset -6px -15px 0 0px #0000001f;
}

footer #astroman .forehead {
    position: absolute;
    display: block;
    width: 4rem;
    height: 2.5rem;
    left: 23%;
    top: 15%;
    background: #afafaf;
    border-radius: 10rem 10rem 0rem 20px;
    transform: skewX(6deg) scale(1.1);
    box-shadow: inset -3px 4px 0 0px #0000001c;
}


footer #astroman .glass {
    position: absolute;
    display: block;
    width: 2rem;
    height: 4rem;
    background: hsl(208deg 24.67% 22.22%);
    left: 35%;
    top: 17%;
    transform: rotate(0deg) skewX(12deg) scale(1.1);
    clip-path: polygon(0 42%, 100% 24%, 100% 66%, 0 54%);
    box-shadow: inset 24px 0px 0 0px #0000001a;

}

footer #astroman .but {
    position: absolute;
    display: block;
    width: 5.2rem;
    height: 2.4rem;
    left: 23%;
    bottom: 19%;
    background: #262833;
    border-radius: 29%;
    z-index: 3;
    transform: rotate(7deg);
    box-shadow: inset 6px 3px 0 0px #00000030;
}

footer #astroman .lego {
    position: absolute;
    display: block;
    height: 6.5rem;
    width: 3rem;
    left: 44%;
    bottom: 15%;
    background: #262833;
    border-radius: 57% 50% 57% 50%;
    transform: rotate(223deg);
    clip-path: polygon(1% 0, 100% 0, 70% 100%, 11% 100%);
    z-index: 3;
    box-shadow: inset 4px -5px 0 0px #00000029;
}

footer #astroman .legod {
    position: absolute;
    display: block;
    width: 2.3rem;
    height: 5rem;
    left: 54.5%;
    bottom: 18.5%;
    background: #20222d;
    border-radius: 100%;
    transform: rotate(356deg);
    clip-path: polygon(7% 0, 93% 0, 75% 100%, 16% 100%);
    z-index: 2;
    box-shadow: inset 20px 18px 0 0px #00000033;
}

footer #astroman .legoo {
    position: absolute;
    display: block;
    height: 6.5rem;
    width: 3rem;
    left: 30%;
    bottom: 17%;
    background: #262833;
    border-radius: 57% 50% 57% 50%;
    transform: rotate(222deg);
    clip-path: polygon(1% 0, 100% 0, 70% 100%, 11% 100%);
    z-index: 0;
}

footer #astroman .legood {
    position: absolute;
    display: block;
    width: 2.3rem;
    height: 5rem;
    left: 46.5%;
    bottom: 23.5%;
    background: #20222d;
    border-radius: 100%;
    transform: rotate(319deg);
    clip-path: polygon(7% 0, 93% 0, 75% 100%, 16% 100%);
    z-index: 0;
}


footer #astroman .armo {
    position: absolute;
    display: block;
    width: 2.4rem;
    height: 4.6rem;
    left: 43%;
    bottom: 38.5%;
    background: #70734e;
    border-radius: 40% 100% 39% 100%;
    transform: rotate(358deg);
    clip-path: polygon(23% 0, 65% 0, 100% 7%, 94% 100%, 7% 100%, 0 8%);
    z-index: 4;
    box-shadow: inset 7px 4px 0 0px #00000005;
}



footer #astroman .arm {
    position: absolute;
    display: block;
    width: 3rem;
    height: 1.7rem;
    left: 49%;
    bottom: 40%;
    background: #70734e;
    border-radius: 40%;
    transform: rotate(149deg);
    z-index: 3;
    box-shadow: inset -6px -7px 0 0px #0000000d;
}

footer #astroman .hand {
    position: absolute;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    left: 60%;
    top: 50%;
    FONT-WEIGHT: 200;
    background: #7d6443;
    border-radius: 83% 45%;
    transform: rotate(54deg);
    z-index: 1;
    box-shadow: inset -10px -9px 0 0px #0000000d;
}


footer #astroman .handi {
    position: absolute;
    display: block;
    width: 1.2rem;
    height: .5rem;
    left: 61%;
    top: 51%;
    FONT-WEIGHT: 200;
    background: #735c40;
    border-radius: 83% 45%;
    transform: rotate(74deg);
    z-index: 0;
}

footer #astroman .bote {
    position: absolute;
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    left: 55%;
    bottom: 14%;
    background: rgb(67 57 50);
    border-radius: .6rem 0.5rem 2rem 1rem;
    clip-path: polygon(7% 0, 93% 0, 75% 100%, 16% 100%);
    z-index: 2;
    box-shadow: inset -9px -13px 0 0px #2523232b;
}

footer #astroman .shoe {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    left: 58%;
    bottom: 15%;
    background: rgb(67 57 50);
    border-radius: 23% 81% 39% 30%;
    transform: rotate(345deg);
    z-index: 2;
    box-shadow: inset 1px -5px 0 0px #0000001c;
}

footer #astroman .botee {
    position: absolute;
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    left: 52%;
    bottom: 24%;
    background: rgb(67 57 50);
    border-radius: .6rem 0.5rem 2rem 1rem;
    clip-path: polygon(7% 0, 93% 0, 75% 100%, 16% 100%);
    z-index: 1;
    transform: rotate(316deg);
}

footer #astroman .shoee {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    left: 56%;
    bottom: 26%;
    background: rgb(55 47 41);
    border-radius: 23% 81% 39% 30%;
    transform: rotate(313deg);
    z-index: 1;
    box-shadow: inset 1px -5px 0 0px #0000001c;
}



footer #astroman .rock {
    background-color: rgb(103 103 103);
    display: block;
    position: absolute;
    left: 45%;
    top: 59%;
    width: 99%;
    height: 5.45rem;
    border-radius: 50%;
    transform: rotate(352deg);
    box-shadow: 0px -16px 0px 13px rgb(59 59 59);
    z-index: 0;
}

#aura {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 1;
}


#aura:before {
    content: "";
    display: block;
    position: absolute;
    width: 170%;
    height: 170%;
    border-radius: 50%;
    background: #165275;
    opacity: 0.2;
    z-index: -3;
}


#aura::after {
    content: "";
    display: block;
    position: absolute;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    background: #10329b;
    opacity: 0.15;
    z-index: -3;
}

#aura:after,
#aura:before,
#aura {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}